html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: inline-block;
    height: 50px;
    padding-left: 10px;
}

.nav {
    text-decoration: underline;
}

