body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
	opacity: 0.9;
    background-color: black;
    text-align: center;
	margin: 0;
}


.header {
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	height: 69px;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
}

#logo {
    height: 50px;
    padding-left: 10px;
	float: left;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

a {
	color: white;
	text-decoration: underline;
	padding: 5px;
}

ul.nav {
	list-style-type: none;
}

.banner {
	margin-top: 70px;
	display: flex;
	background-image: src="/resources/img-mission-background.webp";
	background-size: cover;
	width: 100%;
}
