html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
}

#logo {
    display: inline-block;
    height: 50px;
    padding-left: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: underline;
}
.nav p {
    padding: 5px;
}

.main {
    margin-top: 69px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner {
    height: 700px;
    width: 100%;
    background-image: url("/resources/img-mission-background.webp");
    background-size: cover;
}