body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
	opacity: 0.9;
    background-color: black;
    text-align: center;
	margin: 0;
}


.header {
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	height: 69px;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
 	background: black;
}

#logo {
    height: 50px;
    padding-left: 10px;
	float: left;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

a {
	color: white;
	text-decoration: underline;
	padding: 5px;
}

ul.nav {
	list-style-type: none;
}

.banner {
	margin: 70px auto 50px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img-mission-background.webp");
	width: 1200px;
	height: 700px;
}
.bannerText {
	width: 100%;
	background: black;
}

.bannerText h2, h4 {
	margin: 0;
	padding: 10px;
}
.menu {
	width: 1000px;
	margin: auto;
}
.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.item img {
	height: 200px;
}
.item {
	margin: 10px;
	width: 300px;
}
.item h4 {
	margin: 0;
	padding-top: 10px;
}
.locationsSection {
	width: 1200px;
	height: 500px;
	margin: auto;
	background-image: url("../img-locations-background.webp");
	padding-top: 50px;
}
.locations {
	display: flex;
	width: 100%;
	flex-flow: row;
	justify-content: center;
	text-align: center;
}
.itemLocations {
	background: black;
	opacity: 1;
	margin: 15px 40px;
	width: 300px;
	display: flex;
	justify-content: center;
}

ul.address {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}
ul.address h3 {
	margin:0;
}
ul.address li {
	padding: 15px
}
.contact {
	margin: 0px auto;
	height: 200px;
}
.contact h5 {
	margin-top: 60px;
}
h2 {
	padding: 0px;
	margin: 0px;
}
.footer {
	margin: 20px 20px;
	text-align: left;
}
